@font-face {
    font-family: 'Gloom';
    src: url('Gloom-Regular.woff2') format('woff2'),
        url('Gloom-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

